.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-direction: ltr;
}

.App .container {
  width: 50%;
}

.login-button{
  margin: 0 1rem;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(50px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.containerBoard .scoreForGame {
  text-align: left;
  flex-direction: row-reverse;
  font-weight: bold;
}
.containerBoard .scoreForGame .colScoreLabel {
  max-width: 150px;
}
.containerBoard .sentence {
  margin-top: 50px;
}
.containerBoard .sentenceRow {
  width: fit-content;
}
.containerBoard .sentenceRowDivider{
  width: 50px;
}
.containerBoard .card {
  flex-direction: row;
  max-width: fit-content;
  margin: 10px 5px 0 0;
  padding: 0;
  align-content: center;
  color: white;
}
.containerBoard .CardSelected {
  color: black;
  background-color: gold;
}
.containerBoard .CardSelectedLast {
  animation: show-image 2s ease-in-out 100ms;
  animation-iteration-count: 1;
}
.containerBoard .card .card-body {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  place-content: center;
}
.containerBoard .card .card-body div.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
@keyframes show-image
{
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
.scoreBoard {
  color: white;
}
.scoreBoard tbody tr:nth-child(odd) td{
  background-color: #61dafb;
}

.guessedSection p {
  font-size: 80px;
}
